.memberships-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  justify-content: center;
}

.membership-page-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.membership-description {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-align: center;
}

.membership-highlight {
  font-weight: 600;
  font-style: italic;
}

@media (max-width: 768px) {
  .memberships-container {
    height: auto;
  }
}
