.login-page {
  display: flex;
  height: 95dvh;
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.login-form {
  width: 50%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login-form {
  label {
    width: 100%;
  }
}

.login-form-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.login-image-container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 100vh;
  border-radius: 20px;
  margin: 2rem;
}

.link-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.forgot-password-link {
  color: #007bff;
  text-decoration: none;
  font-size: 0.75rem;
  cursor: pointer;
}

.sign-up-link {
  color: #007bff;
  text-decoration: none;
  font-size: 0.75rem;
}

.login-with-google {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .login-page {
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 2rem;
    height: auto;
    padding-bottom: 2rem;
  }

  .login-title {
  }

  .login-form-container {
    width: 100%;
    height: 60%;
  }

  .login-image-container {
    width: auto;
    margin: 1rem;
    border-radius: 20px;
    background-position: center top; // Moves the background image up
  }

  .login-form {
    width: 90%;
  }

  .login-with-google {
    width: 90%;
  }
}
