.login-page {
  display: flex;
  height: 100vh;
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.login-form {
  width: 50%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login-form {
  label {
    width: 100%;
  }
}

.login-form-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.login-image-container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../assets/images/login-map.png") center center/cover
    no-repeat;
  // height: 100vh;
  border-radius: 20px;
  margin: 2rem;
}

.link-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.forgot-password-link {
  color: #007bff;
  text-decoration: none;
  font-size: 0.75rem;
}

.sign-up-link {
  color: #007bff;
  text-decoration: none;
  font-size: 0.75rem;
}
