.landing-container {
  padding: 0rem 5rem 3rem 5rem;
  display: flex;
  flex-direction: column;
}

.landing-hero {
  display: flex;
  align-items: center;
  height: 90vh;
  justify-content: center;
  animation: fadeIn 1.2s ease-in;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.landing-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.landing-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.landing-description {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.landing-image {
  width: 50%;
  display: flex;
  justify-content: center;
  img {
    height: auto;
  }
}

.landing-sub-section {
  margin-top: 3rem;
  text-align: center;
}

.landing-sub-header-text {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.landing-sub-description {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: var(--color-text-secondary);
}

.landing-mocks {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  align-items: center;
}

.desktop-mock {
  width: 80%;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

.mobile-mock {
  display: none;
}

.landing-memberships {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.membership-plans {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  width: 100%;
}

.membership-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .landing-container {
    padding: 1rem;
  }
  .landing-hero {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .landing-text {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .landing-image {
    width: auto;
    height: 40%;
    img {
      // height: 75%;
    }
  }
  .desktop-mock {
    display: none;
  }

  .mobile-mock {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
    img {
      max-width: 40%;
      height: auto;
      border-radius: 10px;
    }
  }

  .membership-plans {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
