.forgot-password-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}

.forgot-password-image {
  margin-bottom: 2rem;
  img {
    max-width: 15dvw;
    height: auto;
  }
}

.forgot-password-header {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.forgot-password-subheader {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #666;
}

.form-group {
  > fieldset {
    width: 25dvw;
    > input {
      width: 100%;
    }
  }
}

.submit-button {
  width: 100%;
  margin: 1.5rem 0;
}
