.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  padding: 1rem;
}

.contact-header {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--color-primary);
}
.contact-description {
  font-size: 1.2rem;
  margin-bottom: 15px;
  > a {
    text-decoration: underline;
    color: var(--color-secondary);
    cursor: pointer;
  }
}

.contact-form {
  width: 30rem;
}

.full-width {
  width: 100%;
}

.error-text {
  color: red;
}
