.contact-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.badge {
  display: inline-block;
  margin-bottom: 2rem;
  align-self: center;
}

.contact-header {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--color-primary);
}
.contact-description {
  font-size: 1.2rem;
  margin-bottom: 15px;
  > a {
    text-decoration: underline;
    color: var(--color-secondary);
    cursor: pointer;
  }
}

.contact-form {
}

.error-text {
  color: red;
}
