.settings-container {
  height: 80dvh;
  padding: 1rem;
}

.settings-header {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.settings-subheader {
  margin-left: 1rem;
}

.settings-separator {
  margin: 1rem 0;
}

.settings-content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.settings-menu {
  padding-right: 5rem;
}

.settings-content {
}
.settings-content-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.bold {
  font-weight: bold;
}

.settings-email {
  margin-bottom: 1rem;
}

.settings-reset-password {
  margin-top: 1rem;
  > p {
    cursor: pointer;
    color: var(--color-primary);
    text-decoration: underline;
    text-underline-offset: 5px;
    &:hover {
      color: var(--color-primary-hover);
    }
  }
}

@media screen and (max-width: 768px) {
  .settings-content-container {
  }

  .settings-menu {
    padding-right: 1rem;
    > ul {
      max-width: fit-content;
    }
  }
}
