.nav-bar-end-buttons {
  gap: 1.5rem;
  padding-right: 1rem;
}

.logo {
  width: 1.5rem;
}

.theme {
  text-transform: capitalize;
}

.red-text {
  color: #e74c3c;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .logout {
    display: none;
  }

  .login-button {
    display: none;
  }
}
