.folder-component-container {
  display: flex;
  flex-direction: column;
  animation: slideInLeft 500ms ease-in;

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.add-folder {
  align-self: end;
  margin: 0 0 1rem 0;
}

.add-folder-button {
}

.folder-name-input {
  margin: 2rem 0;
}

.location-list-container {
  animation: slideInRight 500ms ease-in;

  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
