.folder-component-container {
  display: flex;
  flex-direction: column;
}

.add-folder {
  align-self: end;
  margin: 0 0 1rem 0;
}

.add-folder-button {
  width: 3rem;
  height: 3rem;
}

.folder-name-input {
  margin: 2rem 0;
}
