.location-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  animation: slideInLeft 500ms ease-in;

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.folder-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.export-buttons {
  display: flex;
  gap: 0.5rem;
}

.folder-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.slide-out-left {
  animation: slideOutLeft 0.4s forwards;
}

@keyframes slideOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
  }
}

.delete-location-icon {
  color: var(--color-primary-content);
}

.location-content {
  align-items: center;
}

@media screen and (max-width: 768px) {
  .no-locations {
    margin: 2rem 0 0 0;
  }
  .location-content {
    display: flex;
    justify-content: space-between;
  }
}
