@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

.loading-screen {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  > span {
    width: 10rem;
  }
}

.App {
  height: 90vh;
}

body {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}

.pac-container {
  z-index: 9999 !important;
  border-radius: 7px;
  background-color: var(--color-primary);
}

.pac-container::after {
  display: none;
}

.pac-item {
  background: var(--color-primary);
  color: var(--color-primary-content);
  border-top: none;
}

.pac-item:hover {
  background: var(--color-secondary);
  color: var(--color-secondary-content);
}

.pac-icon {
  display: none;
}

.pac-item-query {
  padding-left: 0.5rem;
}

.pac-matched {
  color: var(--color-primary-content);
}
