.map {
  width: 65vw;
  height: 85dvh;
  > div > div {
    border-radius: 10px;
  }
}

.map-container {
  opacity: 0;
  pointer-events: auto; // Ensure pointer events are enabled
  animation: fadeInMap 1s ease-in forwards;
}

@keyframes fadeInMap {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .map {
    width: 100%;
    height: 80dvh;
    padding-top: 2rem;
  }
}
