.list-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.folder-container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-right: 1rem;
  max-height: 90vh;
  overflow: auto;
}

.folder {
  margin: 1rem 0;
}
.map-container {
}

@media (max-width: 800px) {
  .list-container {
    flex-direction: column;
    padding: 10px;
  }
  .folder-container {
    width: 100%;
  }
}
